body{
    background-image:url(https://t4.ftcdn.net/jpg/02/92/20/37/360_F_292203735_CSsyqyS6A4Z9Czd4Msf7qZEhoxjpzZl1.webp);
    background-size: cover;
    background-repeat: no-repeat; 
}
*{
    margin: 0;
    padding: 0;
}
ul li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-family: sans-serif;
}
 ul li a{
    text-decoration: none;
    color: #020202;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: medium;
}
ul li a:hover{
    color: rgba(252, 252, 252, 0.986);
    background-color: rgb(86, 50, 35);
}
 ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgba(237, 66, 23, 0.797);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
ul li:hover::after{
    width: 100%;
}
.navbar{
    display: block;
    position: absolute;
    background-color: #edc89d;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}
